<!DOCTYPE html>
<html>
<head>
  <title>Tiffin Service</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to Tiffin Service</h1>
    <nav>
      <ul>
        <li><a href="/register/seller">Seller Register</a></li>
        <li><a href="/seller/login">Seller Login</a></li>
        <li><a href="/register/customer">Customer Register</a></li>
        <li><a href="/customer/login">Customer Login</a></li>
      </ul>
    </nav>
  </header>
