<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Meal</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>SELLER NAVIGATION</h1>
        <nav>
            <ul>
                <li><a href="/seller/home">Add a meal</a></li>
                <li><a href="/view-meals">View All Meals</a></li>
                <li><a href="/seller/bankDetails">Add bank details</a></li>
            </ul>
        </nav>
        <% if (sellerName) { %>
            <div class="seller-info">
                <p>Welcome, <%= sellerName %>!</p>
            </div>
            <form class="noform" action="/logout/seller" method="POST">
                    <button class="logout" type="submit">Logout</button>
                </form>
        <% } %>
        
    </header>
